.subscriptions {
  padding: 120px 0 120px 0;
  position: relative;
  background-color: $color-ghost-white;
}

.subscriptions__title {
  font-family: $ff-Alumni-Sans;
font-weight: 600;
font-size: 54px;
line-height: 65px;
letter-spacing: 0.03em;
margin: 0;
text-align: center;
}

.subscriptions__fitness-pancakes {
  position: absolute;
  top: 507px;
  right: 0;

}
